body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-size: 14px;
  display: block;
  font-family: 'Encode Sans', sans-serif;

  + p {
    margin-top: 30px;
  }
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 15vmin 0;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  [class^='col'] {
    padding: 0 15px;
    flex: 0 0 auto;
    margin-bottom: 60px;
  }

  .col {
    flex: 1 0 0%;
  }

  .col-12 {
    width: 100%;
    margin-bottom: 100px;
  }
}

.btn {
  background-color: #2cb5a7;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  padding: 20px 10px;
  position: relative;
  //z-index: 0;
  margin-bottom: 20px;
  outline: none;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    opacity: 0.6;
    transition: all .3s ease;
  }
}

.separator {
  height: 100vh;
}

.reveal {
  margin-bottom: 50px;
}

.ds-box {
  margin-bottom: 20px;
}

.ds-dropdown {
  li {
    &[data-close='item'] {
      &:hover {
        color: #2cb5a7;
      }
    }
  }
}

.ds-aside-menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  .ds-close-item {
    margin: 5px;
    font-size: 20px;
    background: #fff;
  }
}
