/**
 * Global Toggles
 */


//Side menu common
.ds-aside-menu {
  @include box(100%);
  background-color: black;
  z-index: 101;

  &.-left, &.-right {
    width: 300px;
    @include position(fixed, 0 null 0 null);
  }

  &.-bottom, &.-top {
    height: 80px;
    @include position(fixed, null 0 null 0);
  }

  &.-left {
    left: 0;
  }

  &.-right {
    right: 0;
  }

  &.-bottom {
    bottom: 0;
  }

  &.-top {
    top: 0;
  }
}

//Side Menu Effects
[data-effect="block"] {
  display: none;

  &.is-active {
    display: block;
  }
}

[data-effect="slide-right"],
[data-effect="slide-left"] {
  transform: translateX(-100%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all .3s ease;
  visibility: hidden;
  opacity: 0;
  z-index: 1030;

  &.is-active {
    transition: all .3s ease;
    visibility: visible;
    opacity: 1;
  }
}

//Slide Right
[data-effect="slide-left"] {
  transform: translateX(-100%);

  &.is-active {
    transform: translateX(0);
  }
}

//Slide right
[data-effect="slide-right"] {
  transform: translateX(100%);

  &.is-active {
    transform: translateX(0);
  }
}

//Top/Bottom Menu Effects
[data-effect="slide-top"],
[data-effect="slide-bottom"] {
  transform: translateY(-100%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: 300ms ease all;
  visibility: hidden;
  opacity: 0;
  z-index: 1030;

  &.is-active {
    transition: 300ms ease all;
    visibility: visible;
    opacity: 1;
  }
}

//Slide Top
[data-effect="slide-top"] {
  transform: translateY(-100%);

  &.is-active {
    transform: translateY(0);
  }
}

//Slide Bottom
[data-effect="slide-bottom"] {
  transform: translateY(100%);

  &.is-active {
    transform: translateY(0);
  }
}

//Modal
[data-effect="modal"] {
  display: none;

  &.is-active {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1040;
  }
}


//Mobile / Desktop visible
[data-visible="mobile"] {
  display: block;
  @include media('>desktop') {
    display: none;
  }
}

[data-visible="desktop"] {
  display: none;
  @include media('>desktop') {
    display: block;
  }
}
