@function vmin($target) {
  $vw-context: (1000*.01) * 1px;
  @return ($target/$vw-context) * 1vmin;
}

@function get-vw($target) {
  $vw-context: (1300 * 0.01) * 1px;
  @return ($target / $vw-context) * 1vw;
}

@function _unpack-shorthand($shorthand) {
  @if length($shorthand) == 1 {
    @return nth($shorthand, 1) nth($shorthand, 1) nth($shorthand, 1) nth($shorthand, 1);
  } @else if length($shorthand) == 2 {
    @return nth($shorthand, 1) nth($shorthand, 2) nth($shorthand, 1) nth($shorthand, 2);
  } @else if length($shorthand) == 3 {
    @return nth($shorthand, 1) nth($shorthand, 2) nth($shorthand, 3) nth($shorthand, 2);
  } @else {
    @return $shorthand;
  }
}

@function _is-length($value) {
  @return type-of($value) != "null"
    and (
      str-slice($value + "", 1, 4) == "calc"
      or str-slice($value + "", 1, 3) == "var"
      or str-slice($value + "", 1, 3) == "env"
      or index(auto inherit initial 0, $value)
      or (type-of($value) == "number" and not(unitless($value)))
    );
}
