/**
 * Default styling for dropdowns, items, etc.
 */

//Dropdown Styling
.ds-dropdown {
  @include position(relative, null);
  @include box(100%);
  z-index: 2;

  &__box {
    @include position(absolute, calc(100% + 15px) 0 null 0);
    @include box(100%, max-content);
    @include null-list;
    background: #fff;
    padding: 10px 0;
    border: 1px solid #eaeaea;

    ul {
      li {
        padding: 5px 15px;

        &[data-close='item'] {
          cursor: pointer;
        }
      }
    }
  }
}

.ds-box {
  @include position(relative, calc(100% + 15px) 0 null 0);
  background: #fff;
  padding: 20px;
}

//Modals
.ds-modal {
  display: none;
  height: 100%;
  left: 0;
  outline: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;

  .modal {
    position: relative;
    width: auto;
    pointer-events: none;
    max-width: 500px;
    margin: 1.75rem auto;
    z-index: 1050;

    &-xl {
      max-width: 1140px;
    }

    &-lg {
      max-width: 800px;
    }

    &-sm {
      max-width: 300px;
    }

    &-close {
      padding: 0;
      background-color: transparent;
      border: 0;
      appearance: none;
      cursor: pointer;
      display: flex;
      justify-content: flex-end;
      font-size: 20px;
    }

    .modal-content {
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      pointer-events: auto;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, .2);
      border-radius: 0.3rem;
      outline: 0;
      padding: 20px;
    }
  }

  &.ds-overlay-active {
    &::after {
      z-index: 1040;
    }
  }
}

.ds-close-item {
  padding: 5px;
  background-color: transparent;
  border: 0;
  line-height: 1;
  appearance: none;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}
