/**
 * Default styling for Loaders.
 */
.ds-loader {
  &-active {

  }

  &-target {
  }

  &-item {
    position: relative;
  }
}

.loader {
  @include position(fixed, 0);
  @include box(100%);
  //z-index: 1030;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  display: none;

  &.is-shown {
    display: flex;
  }

  &-spinner {
    width: 48px;
    height: 48px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    animation: roll 1s ease-in-out infinite alternate;

    &:after {
      content: "";
      position: absolute;
      inset: 5px;
      border-radius: 50%;
      border: 5px solid;
      border-color: var(--primary-color1) transparent;
    }
  }

  &-widget {
    position: absolute;
    display: none;
    background: rgba(255, 255, 255, 0.2);
    z-index: 1;
    align-items: flex-start;
    padding-top: 10vmin;


    .loader-spinner {
      position: absolute;
      bottom: 15px;
    }
  }

  &-processing {
    background: rgba(255, 255, 255, 0.9);
    justify-content: center;
    align-items: center;

    &__text {
      font-weight: bold;
    }
  }
}

@keyframes roll {
  0% {
    transform: translateX(-150%) rotate(0deg);
  }
  100% {
    transform: translateX(150%) rotate(360deg);
  }
}
