@mixin clearfix() {
  *zoom: 1;
  &:before, &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}

@mixin has-overlay($opacity: false) {
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: var(--primary-color1);
    opacity: $opacity;
    z-index: 1;
  }
}

@mixin haf {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}

@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin pseudo(
  $width: 100%,
  $height: 100%,
  $display: inline-block,
  $pos: absolute,
  $content: ""
) {
  content: $content;
  display: $display;
  position: $pos;
  @include box($width, $height);
}


@mixin position($position,$box-edge-values) {
  $box-edge-values: _unpack-shorthand($box-edge-values);
  $offsets: (
    "top": nth($box-edge-values, 1),
    "right": nth($box-edge-values, 2),
    "bottom": nth($box-edge-values, 3),
    "left": nth($box-edge-values, 4),
  );

  position: $position;
  @each $offset, $value in $offsets {
    @if _is-length($value) {
      #{$offset}: $value;
    }
  }
}

@mixin positionVal($box-edge-values, $zindex: 0) {
  $box-edge-values: _unpack-shorthand($box-edge-values);
  $offsets: (
    "top": nth($box-edge-values, 1),
    "right": nth($box-edge-values, 2),
    "bottom": nth($box-edge-values, 3),
    "left": nth($box-edge-values, 4),
  );
  @each $offset, $value in $offsets {
    @if _is-length($value) {
      #{$offset}: $value;
    }
  }
  z-index: $zindex;
}


@mixin null-list {
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
    }
  }
}
