/**
 * Default styling for Overlays.
 */

//item Overlay
body {
  // Body Overlay
  &.ds-overlay-active {
    .ds-overlay {
      @include pseudo(100%, 100%, block, fixed);
      @include position(null, 0);
      z-index: -1;
      background: rgba(0, 0, 0, 0.2);
      transition: opacity .15s linear;
    }
  }

  // Item / Target Overlay
  .ds-overlay-active {
    .ds-overlay {
      @include pseudo(100%, 100%, block, absolute);
      @include positionVal(0);
      background: rgba(0, 0, 0, 0.2);
      z-index: -1;
      opacity: 1;
    }

  }

  .ds-overlay-item {
    position: relative;

    .ds-overlay {
      //Add something
    }
  }

  .ds-overlay-target {
    .ds-overlay {
      //Add something
    }
  }
}
