/**
 * Default styling for Tooltips.
 */
:root {
  --ds-tooltip-color: #555;
  --ds-tooltip-width: 140px;
}

[data-toggle='tooltip'] {
  position: relative;
}

.ds-tooltip {
  position: absolute;
  display: inline-block;
  border-bottom: 1px dotted var(--ds-tooltip-color);
  width: var(--ds-tooltip-width);
  background-color: var(--ds-tooltip-color);
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  z-index: 2;

  &-open {
    position: relative;
  }

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
  }

  &__content {
    font-size: 12px;
  }

  &-top {
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: var(--ds-tooltip-color) transparent transparent transparent;
    }
  }

  &-bottom {
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);

    &::after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent var(--ds-tooltip-color) transparent;
    }
  }

  &-right {
    left: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent var(--ds-tooltip-color) transparent transparent;
    }
  }

  &-left {
    right: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent transparent var(--ds-tooltip-color);
    }
  }
}
