@mixin reveal-text {
  will-change: transform;
  transform: scaleX(0) skewX(0deg);
  transform-origin: left;
  transition: 0.5s;
  transition-delay: 0.5s;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--effect-color);
    transform-origin: right;
    transform: scaleX(1);
    transition: 0.5s;
    transition-delay: 0.5s;
  }

  .is-active & {
    transform: scaleX(1);

    &::before {
      transform: scaleX(0);
      transition-delay: 0.5s;
    }
  }
}

[data-reveal='burst-from-left'] {
  --effect-color: #2cb5a7;
  --text-fs-title: 3rem;
  --text-bg-color: rgba(0, 0, 0, 0.3);

  display: flex;
  //grid-template-columns: max-content;
  //grid-template-rows: max-content;
  //gap: 0;
  //grid-template-areas:
  //  "pretitle title ."
  //  "pretitle desc .";
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px 40px;

  .r-text {
    &__pretitle {
      --text-fw: 700;
      @include position(absolute, null null 0 0);
      @include box(max-content, max-content);
      @include reveal-text;
      letter-spacing: 3px;
      transform: translate3d(0, 5px, 0) rotate(-90deg);
      transform-origin: top left;
    }


    &__title {
      margin-bottom: 1rem;
      font-size: var(--text-fs-title);
      font-weight: 700;
      display: inline-flex;
      text-transform: uppercase;
      position: relative;
      transform: scaleX(0) skewX(0deg);
      @include reveal-text;
    }

    &__desc {
      font-size: var(--text-fs-desc);
      line-height: var(--text-lh);
      display: block;
      letter-spacing: 1px;
      background: rgba(255, 255, 255, 0.23);
      padding: 20px;
      border-radius: .2rem;
      font-weight: 700;
      @include reveal-text;
      background: var(--text-bg-color);
    }
  }

  &.is-active {
    .r-text {
      &__pretitle {

        &::before {
          transform: scaleX(0);
          transition-delay: 0.5s;
        }
      }

      &__title, &__desc {
        transform: scaleX(1);

        &::before {
          transform: scaleX(0);
          transition-delay: 0.5s;
        }
      }
    }
  }
}

