[data-reveal] {
  --text-lh: 1.4;
  --text-fw: 400;
  --text-fs-pretitle: 1.2rem;
  --text-fs-title: 2rem;
  --text-fs-desc: 1.6;

  overflow: hidden;
  position: relative;

  p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  .r-text {
    &__pretitle, &__title, &__desc {
      color: var(--text-color);
      font-weight: var(--text-fw);
    }

    &__pretitle {
      font-size: var(--text-fs-pretitle);
    }

    &__title {
      --text-fw: 700;
      font-size: var(--text-fs-title);
      margin-bottom: .5em;
    }

    &__desc {
      font-size: var(--text-fs-desc);
    }
  }
}
