[data-reveal='dream-big'] {
  --effect-color: #2cb5a7;
  --effect-color-2: #803dff;
  --effect-color-3: #36c1ff;

  .r-text {
    &__pretitle, &__title, &__desc {
      opacity: 0;
      margin: .3em .5rem;
    }

    &__title {
      &::before {
        @include pseudo(100%, .8em);
        background: var(--effect-color);
        z-index: -1;
        transform: translateX(0%);
      }
    }
  }

  &.is-active {
    .r-text {
      &__title {
        &::before {
          animation: block-rev-block 1.1s;
          animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
        }
      }

      &__pretitle, &__title, &__desc {
        animation: block-reveal-text 0s;
        animation-delay: .1s;
        animation-fill-mode: forwards;
      }
    }
  }
}

@keyframes block-rev-block {
  0% {
    transform: translateX(-100%);
    z-index: 1;
    height: 1em;
    background: var(--effect-color-2);
  }

  50% {
    transform: translateX(calc(100% + 1px));
    background: var(--effect-color-3);
    height: 2.4rem;
  }

  100% {
    height: .8em;
    transform: translateX(calc(0%));
  }
}

@keyframes block-reveal-text {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    color: var(--effect-color-2);
  }

  100% {
    opacity: 1;
    color: var(--text-color);
  }
}
