[data-reveal='elegant-slide-in'] {
  --effect-color: #2cb5a7;
  --effect-color-2: #fbff65;
  --text-color: #000;


  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px;

  .r-text {
    &__title {
      position: relative;
      display: block;
      padding: 5px 15px;

      &:before {
        content: '';
        width: 0;
        height: 100%;
        background: var(--effect-color);
        position: absolute;
        top: 0;
        left: 0;
        border-right: 5px solid #262626;
      }
    }

    &__pretitle {
      --text-fw: 700;
      margin-bottom: 20px;
      font-weight: bold;
    }
  }

  &.is-active {
    .r-text {
      &__title {
        color: #fff;
        transition: color 4s ease;
        transition-delay: 2s;

        &::before {
          animation: elegant-slide-in;
          animation-delay: .1s;
          animation-duration: 4s;
          animation-direction: alternate;
          animation-fill-mode: forwards;
        }
      }
    }
  }
}


@keyframes elegant-slide-in {
  0% {
    width: 100%;
    z-index: 1;
  }
  50% {
    width: 0%;
    z-index: 1;
  }
  51% {
    width: 0%;
    z-index: -1;
  }
  100% {
    width: 100%;
    z-index: -1;
  }
}
